<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Listing #{{property.id}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</head>
<body>
{% include './nav.html' %}
{% load humanize %}
<div class="container">
<h1>Property at {{property.street_address}}</h1>
<p>{{property.description}}</p>
<h2>Detail</h2>
<ul>
  <li>Listing date: {{property.publish_stamp}}</li>
  <li>Status: {{property.get_status_display}}</li>
  <li>Price: ${{property.price|floatformat:"0"|intcomma}}</li>
  <li>Property Type: {{property.property_type}}</li>
  <li>Property Tax (estimate, annual): ${{property.property_tax|floatformat:"2"|intcomma}}</li>
  <li>Address:
    <ul>
      <li>{{property.street_address}}</li>
      <li>{{property.city}}, {{property.get_province_display}}, {{property.get_country_display}}</li>
      <li>{{property.postal_code}}</li>
    </ul>
  </li>
  <li>Neighbourhood: {{property.neighborhood}}</li>
  <li>Region: {{property.region}}</li>
  <li>GPS: {{property.latitude}}, {{property.longitude}}</li>
</ul>

{% if property.lot_set.count %}
  <h2>Land</h2>
  <ul>
  {% for lot in property.lot_set.all %}
    <li>{{forloop.counter}}. {{lot.square_meters|floatformat:"0" }}m² ({{lot.width|floatformat:"-1"}}m wide, {{lot.depth|floatformat:"-1"}}m deep) {{ lot.zoning }}: {{ lot.description }}</li>
    {% if lot.structure_set.count %}
      <li>Other structures:
        <ul>
          {% for structure in lot.structure_set.all %}
            <li>{{forloop.counter}}. {{structure.width|floatformat:"-1"}}x{{structure.depth|floatformat:"-1"}}x{{structure.height|floatformat:"-1"}}m - {{structure.description}}</li>
          {% endfor %}
        </ul>
      </li>
    {% endif %}
  {% endfor %}
  </ul>
{% endif %}
{% if property.house_set.count %}
  <h2>Houses</h2>
  <ul>
  {% for house in property.house_set.all %}
    <li>{{forloop.counter}}. {{ house.square_meters|floatformat:"0" }}m², {{ house.beds }} beds, {{ house.baths|add:house.halfbaths }} baths
      <ul>
        <li>Year: {{house.year}}</li>
        <li>Beds: {{house.beds}}</li>
        <li>Baths: {{house.baths}}</li>
        <li>Half baths: {{house.halfbaths}}</li>
        <li>Floorspace: {{house.square_meters|floatformat:"-1"|intcomma}}m²</li>
        <li>Floors (above ground): {{house.floors}}</li>
        <li>Basements (below ground): {{house.basements}}</li>
        <li>Garage: {{ house.get_garage_display }}</li>
        <li>Parking: {{house.parking}}</li>
        <li>Extras: {{house.extras}}</li>
        {% if house.houseroom_set.count %}
        <li>Rooms:
          <ul>
          {% for room in house.houseroom_set.all %}
            <li>{{forloop.counter}}. {{room.role|capfirst}} ({{room.square_meters|floatformat:"-1"}}m², floor {{room.floor}})</li>
          {% endfor %}
          </ul>
        </li>
        {% endif %}
      </ul>
    </li>
  {% endfor %}
  </ul>
{% endif %}
{% if property.suite_set.count %}
  <h2>Suites</h2>
  <ul>
  {% for suite in property.suite_set.all %}
    <li>{{forloop.counter}}. {{ suite.square_meters|floatformat:"0" }}m², {{ suite.beds }} beds, {{ suite.baths|add:suite.halfbaths }} baths
      <ul>
        <li>Year: {{suite.year}}</li>
        <li>Beds: {{suite.beds}}</li>
        <li>Baths: {{suite.baths}}</li>
        <li>Half Baths: {{suite.halfbaths}}</li>
        <li>Floorspace: {{suite.square_meters|floatformat:"-1"|intcomma}}m²</li>
        <li>Floors (above ground): {{suite.floors}}</li>
        <li>Basements (below ground): {{suite.basements}}</li>
        <li>Garage: {{ suite.get_garage_display }}</li>
        <li>Parking: {{suite.parking}}</li>
        <li>Extras: {{suite.extras}}</li>
        <li>Strata info:
          <ul>
            <li>Unit Number: {{suite.unit_number}}</li>
            <li>Annual Strata Fee: ${{suite.annual_strata_fee|floatformat:"2"|intcomma}}</li>
            <li>Pet Rules: {{suite.pet_rules}}</li>
            <li>Shared Fitness Room: {{suite.shared_fitness_room}}</li>
            <li>Shared Pool: {{suite.shared_pool}}</li>
            <li>Shared Party Room: {{suite.shared_party_room}}</li>
            <li>Shared Private Courtyard: {{suite.shared_private_courtyard}}</li>
            <li>Shared Laundry: {{suite.shared_laundry}}</li>
            <li>Units in Building: {{suite.units_in_building}}</li>
            <li>Building Floors: {{suite.building_floors}}</li>
          </ul>
        </li>
        {% if suite.suiteroom_set.count %}
        <li>Rooms:
          <ul>
          {% for room in suite.suiteroom_set.all %}
            <li>{{forloop.counter}}. {{room.role|capfirst}} ({{room.square_meters|floatformat:"-1"}}m², floor {{room.floor}})</li>
          {% endfor %}
          </ul>
        </li>
        {% endif %}
      </ul>
    </li>
  {% endfor %}
  </ul>
{% endif %}
<h2>Seller's Contact Info:</h2>
{{ property.owner.message }}
<ul>
{% if property.owner.b_email and property.owner.email %}
  <li>Email Address: {{property.owner.email}}</li>
{% endif %}
{% if property.owner.b_phone and property.owner.phone %}
  <li>Phone Number: {{property.owner.phone}}</li>
{% endif %}
{% if property.owner.b_fax and property.owner.fax %}
  <li>Fax Number: {{property.owner.fax}}</li>
{% endif %}
{% if property.owner.b_mail and property.owner.mail %}
  <li>Mailing Address: {{property.owner.mail}}</li>
{% endif %}
</ul>
</div>
</body>
</html>