<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body>
{% if request.session.logged_in %}
<p>Logged in as {{ request.session.login_email }} <a href="{% url 'property:logout' %}">(Log out)</a></p>
<p><a href="{% url 'property:new' %}">Create a New Listing</a></p>
{% else %}
<a href="{% url 'property:login' %}?login_redirect={% url 'property:home' %}">Log in</a>
{% endif %}
<h1>Properties</h1>
{% if latest_property_list %}
    <ul>
    {% for property in latest_property_list %}
        <li><a href="{% url 'property:detail' property.id %}">${{ property.price|floatformat:"0" }} - {{ property.property_type|capfirst }} in {{ property.city }}, {{ property.province }}</a> - {{ property.description|truncatechars:40 }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No properties are available in your region.</p>
{% endif %}
</body>
</html>