<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</head>
<body>
{% include './nav.html' %}
{% load static %}
{% load humanize %}
<div class="container">
  <h1>Latest Listings</h1>
  {% if latest_property_list %}
    <div class="row">
      {% for property in latest_property_list %}
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <a href="{% url 'property:detail' property.id %}">
          <div class="card">
            <img class="card-img-top" src="{% static 'property/img/noimage.jpg' %}"/>
            <div class="card-body">
              <h4 class="card-title">{{property.property_type|capfirst}}</h4>
              <h6 class="card-subtitle mb-2 text-muted">${{ property.price|floatformat:"0"|intcomma }}</h6>
              <h6 class="card-subtitle mb-2 text-muted">{{ property.city }}, {{ property.province }}</h6>
              <p class="card-text">{{ property.description|truncatechars:100 }}</p>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
    </div>
  {% else %}
    <p>No properties are available in your region.</p>
  {% endif %}
</div>
</body>
</html>