<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'property:home' %}">OpenHome</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'property:home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'property:search' %}">Search</a>
      </li>
      {% if request.session.logged_in %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'property:account' %}">My Account ({{request.session.login_email}})</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'property:logout' %}">Logout</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'property:login' %}">Login</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>