<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New Listing</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</head>
<body>
{% include './nav.html' %}
<div class="container">
  <h1>New Property Listing</h1>
  <hr />
  {% if errors %}
  <div class="alert alert-danger" role="alert">
    <h3>There were errors creating your property listing:</h3>
    <ul>
    {% for key, value in errors.items %}
      <li>{{key}}: {{value}}</li>
    {% endfor %}
    </ul>
  </div>
  {% endif %}
  <form id="new_property" action="{% url 'property:new' %}" method="post">
  {% csrf_token %}
    <!--property_type-->
    <div class="form-group">
      <label for="property_type">Property Type (detached, townhouse, etc)</label>
      <input name="property_type" typ="text" class="form-control" id="property_type" list="ptype" value="{{property.property_type}}" required>
      <datalist id="ptype">
        <option value="Detached">
        <option value="Semi-Detached">
        <option value="Duplex">
        <option value="Townhouse">
        <option value="Lot">
        <option value="Condominium">
        <option value="Safari">
      </datalist>
    </div>

    <div class="row">
      <div class="col-sm">
        <!--price -->
        <div class="form-group">
          <label for="price">Price</label>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input name="price" id="price" type="number" class="form-control" placeholder="400,000.00" min="0" step="0.01" value="{{property.price}}" required />
          </div>
        </div>
      </div>
      <div class="col-sm">
        <!--property_tax-->
        <div class="form-group">
          <label for="property_tax">Property Tax (annual, estimate)</label>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input name="property_tax" id="property_tax" type="number" class="form-control" placeholder="4,000.00" min="0" step="0.01" value="{{property.property_tax}}" required />
          </div>
        </div>
      </div>
    </div>


    <hr />
    <fieldset>
      <legend>Address</legend>
      <div class="row">
        <div class="col-md">
          <!--country-->
          <div class="form-group">
            <label for="country">Country</label>
            <select class="form-control" form="new_property" name="country" id="country" required>
            {% for n, country in country_choices %}
              {% if n == property.country|default:"CAN" %}
              <option value="{{n}}" selected>{{country}}</option>
              {% else %}
              <option value="{{n}}">{{country}}</option>
              {% endif %}
            {% endfor %}
            </select>
          </div>
        </div>
        <div class="col-md">
          <!--province-->
          <div class="form-group">
            <label for="province">Province</label>
            <select class="form-control" form="new_property" name="province" id="province" required>
            {% for n, province in province_choices %}
              {% if n == property.province|default:"BC" %}
              <option value="{{n}}" selected>{{province}}</option>
              {% else %}
              <option value="{{n}}">{{province}}</option>
              {% endif %}
            {% endfor %}
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md">
          <div class="form-group">
            <!--city-->
            <label for="city">City</label>
            <input class="form-control" name="city" id="city" type="text" placeholder="Abbotsford" value="{{property.city}}" required />
          </div>
        </div>
        <div class="col-md">
          <div class="form-group">
            <!--region-->
            <label for="region">Region (optional)</label>
            <input class="form-control" name="region" id="region" type="text" placeholder="Fraser Valley" value="{{property.region}}"/>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md">
          <div class="form-group">
            <!--postal_code-->
            <label for="postal_code">Postal Code</label>
            <input class="form-control" name="postal_code" id="postal_code" type="text" placeholder="V3G 1R4" value="{{property.postal_code}}" required/>
          </div>
        </div>
        <div class="col-md">
          <div class="form-group">
            <!--neighborhood-->
            <label for="neighborhood">Neighborhood (optional)</label>
            <input class="form-control" name="neighborhood" id="neighborhood" type="text" placeholder="Straiton Bowl" value="{{property.neighborhood}}" />
          </div>
        </div>
      </div>

      <div class="form-group">
        <!--street_address-->
        <label for="street_address">Street Address</label>
        <input class="form-control" name="street_address" id="street_address" type="text" placeholder="123 Farina Rd" value="{{property.street_address}}" required />
      </div>

      <!--latitude and longitude-->
      <div class="form-group">
        <label for="latitude">Latitude & Longitude (optional, for more accurate pin)</label>
        <div class="row">
          <div class="col-sm">
            <input class="form-control" name="latitude" id="latitude" type="number" placeholder="49.082682" value="{{property.latitude}}" />
            <small class="form-text text-muted">Latitude</small>
          </div>
          <div class="col-sm">
            <input class="form-control" name="longitude" id="longitude" type="number" placeholder="-122.210422" value="{{property.longitude}}" />
            <small class="form-text text-muted">Longitude</small>
          </div>
        </div>
      </div>
    </fieldset>

    <!--description [textarea]-->
    <div class="form-group">
      <label for="description">Description of property</label>
      <textarea class="form-control" name="description" id="description" rows=5 cols=70 form="new_property" required>{{property.description}}</textarea>
    </div>

    <input class="btn btn-primary" type="submit" value="Next..." />
  </form>
</div>
</body>
</html>